h1 {
    color: orange;
    text-align: right;
    font-family: fantasy;
}

h2 {
    font-style: inherit;
    text-align: left;
    font-family: cursive;
    line-height: normal
}

p {
    color: blueviolet;
    font-family: 'Franklin Gothic Medium';
    font-weight: bold;
    font-size: 100px
    
  }

  ul {
    font-size: 50px;
    line-height: 60px;ß
  }